      <section>
        <div class="spacer">
          <div class="container">
            <div class="row mt-5">
              <div class="col-lg-9">
                <div class="row shop-listing">
                  <table class="table shop-table">
                    <tr>
                      <th class="b-0">Name</th>
                      <th class="b-0">Price</th>
                      <th class="b-0">Quantity</th>
                      <th class="b-0">Action</th>
                      <th class="b-0 text-right">Total Price</th>
                    </tr>
                    <tr *ngFor="let item of items; index as i;">
                      <td>{{ item.productName }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{item.quantity}}</td>
                      <td>
                        <button class="btn btn-primary btn-sm" (click)=addQty(i)>+</button>
                        1
                        <button class="btn btn-primary btn-sm" (click)=minusQty(i)>-</button>
                      </td>
                      
                      <td class="text-right">
                        <h5 class="font-medium m-b-30">{{item.price * item.quantity}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" align="right">Subtotal :{{totalPrice}}</td>
                      <td colspan="4" align="right">
                        <button class="btn btn-danger">Empty Cart</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>