<div class='card'>
  <ul class='nav nav-pills'>
    <li>
      <div i18n class='card-header'>
        {{pageTitle}}
      </div>
    </li>
    <li>
      <mat-form-field appearance="fill">
        <mat-label i18n >Choose a Category</mat-label>
        <mat-select (selectionChange)="categoryChange($event)">
          <mat-option value="a">Cameras</mat-option>
          <mat-option value="b">Laptops</mat-option>
          <mat-option value="c">Tablets</mat-option>
          <mat-option value="d">Mobiles</mat-option>
          <mat-option value="e">Wearables</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
  <div class='card-body'>
    
    <div class='row'>
      <div i18n class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
                [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4 i18n>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table table-hover'>
      <table class='table' *ngIf='products.length'>
        
        <tbody>
            <div>
              <p i18n>Please select the desired category!</p>
            </div>
            <tr *ngFor='let product of filteredProducts'>
              <div *ngIf="product.categoryId===categId">
                <td>
                    <img *ngIf='showImage'
                        [src]='product.imageUrl'
                        [title]='product.productName'
                        [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'>

                </td>
                <td>
                  <div class="row" >
                    <div class="col-sm-4">
                    <div class="card" style="width: 40%;">
                      <div class="card-header">
                        <img 
                          [src]='product.imageUrl'
                          [title]='product.productName'
                          [style.width.px]='imageWidth'
                          [style.margin.px]='imageMargin'>
		                    </div>
	                    </div>
                    </div>
                    <div class="col-sm-8" >
                    <div class="card" style="width: 40rem;">
                      <div class="card-header">
                        <a [routerLink]="['/products', product.productId]">
                          {{ product.productName }}
                        </a>
                        <p><b i18n>sku: </b>{{ product.productCode | lowercase | convertToSpaces:'-' }}</p>
                        <p><b i18n>Price: </b>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
                      </div>
                    </div>
                    </div>
                  </div>
                </td>    
                </div>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>